<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trabinerson.moviefiend" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.trabinerson.moviefiend.MovieFiendApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="moviefiend"
                    android:host="movie-details"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.DetailsActivity"
            android:label="@string/details_app_name"
            android:parentActivityName=".activities.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.SimilarMoviesPagerActivity"
            android:parentActivityName=".activities.DetailsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DetailsActivity" />
        </activity>

        <activity android:name=".activities.DeeplinkDetailsActivity"
            android:label="@string/details_app_name">

        </activity>

    </application>

</manifest>
